.DS_Store
docs/whitepaper.out
docs/whitepaper.tex
docs/whitepaper.aux
docs/whitepaper.log
docs/whitepaper.toc
docs/whitepaper.synctex.gz
docs/doc.tex
docs/doc.out
docs/doc.log
docs/doc.toc
docs/doc.aux
docs/doc.synctex.gz
./*/.DS_Store

